<mat-toolbar>
  <mat-toolbar-row>
    <a mat-button class="logo-button" routerLink="" matTooltip="">
      <app-logo height="42px" [color]="theme.themeType() == ThemeType.Light ? '#000' : '#FFF'"></app-logo>
    </a>
    <a mat-button class="route-button" routerLink="" routerLinkActive="link-active" [routerLinkActiveOptions]="{ exact: true }"> / About</a>
    <a mat-button class="route-button" routerLink="projects" routerLinkActive="link-active">/ Projects</a>
    <a mat-button class="route-button" routerLink="contact" routerLinkActive="link-active">/ Contact</a>
    <div class="social-button-container">
      <a mat-icon-button href="https://twitter.com/jxn_w"  matTooltip="X" class="social-button">
        <fa-icon [icon]="['fab','x-twitter']" size="2x"/>
      </a>
      <a mat-icon-button href="https://github.com/jaxonwright" matTooltip="GitHub" class="social-button">
        <fa-icon [icon]="['fab','github']" size="2x"/>
      </a>
    </div>
    <button mat-icon-button class="theme-button" matTooltip="Switch Theme"
      [matMenuTriggerFor]="menu" matTooltipPosition="below" matTooltipClass="mat-tooltip-multi">
      @switch (theme.themeType()) {
        @case (ThemeType.Light) {
          <mat-icon>brightness_5</mat-icon>
        }
        @case (ThemeType.Black) {
          <mat-icon>nights_stay</mat-icon>
        }
      }
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="app.setTheme(ThemeType.Light)">
        <mat-icon>brightness_5</mat-icon>
        <span>Light</span>
      </button>
      <button mat-menu-item (click)="app.setTheme(ThemeType.Black)">
        <mat-icon>nights_stay</mat-icon>
        <span>Night</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
