<div class="row">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        @if (project().logo) {
          <img class="title-img" [src]="imageSource()">
        }
        @if (!project().logoOnly) {
          <h3>{{project().title}}</h3>
        }
      </mat-card-title>
      <mat-card-subtitle>
        <mat-chip-listbox>
          @for (cat of project().categories; track $index) {
            <mat-chip class="tertiary-chip">
              <fa-icon [icon]="cat.icon" size="lg" transform="shrink-6.5" [mask]="['fas','circle']"></fa-icon>
              &nbsp;{{cat.title}}
            </mat-chip>
          }
        </mat-chip-listbox>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{project().description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      @for (action of project().actions; track $index) {
        <a mat-button class="tertiary-button" [href]="action.link" target="_blank">{{action.title}}</a>
      }
    </mat-card-actions>
  </mat-card>
</div>