@use '@angular/material' as mat;
@use '../_theme-colors' as theme;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

$black-app-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: theme.$primary-palette,
    tertiary: theme.$secondary-palette
  )
));

html {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.toolbar-theme($black-app-theme);
  @include mat.button-theme($black-app-theme);
  @include mat.icon-button-theme($black-app-theme);
  @include mat.fab-theme($black-app-theme);
  @include mat.card-theme($black-app-theme);
  @include mat.tooltip-theme($black-app-theme);
  @include mat.divider-theme($black-app-theme);
  @include mat.chips-theme($black-app-theme);
  @include mat.dialog-theme($black-app-theme);
  @include mat.form-field-theme($black-app-theme);
  @include mat.input-theme($black-app-theme);
  @include mat.snack-bar-theme($black-app-theme);
  @include mat.list-theme($black-app-theme);
  @include mat.menu-theme($black-app-theme);
  @include mat.icon-theme($black-app-theme);

  .mat-mdc-card-outlined  { --mdc-outlined-card-outline-color: #004525; }

  .mat-app-background,
  .mat-toolbar { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-mdc-card { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-mdc-menu-panel { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-mdc-dialog-container .mdc-dialog__surface { background-color: #000000; color: rgb(236, 236, 236) }
}

.tertiary-button {
  @include mat.button-color($black-app-theme, $color-variant: tertiary);
}

.tertiary-fab {
  @include mat.fab-color($black-app-theme, $color-variant: tertiary);
}

.tertiary-chip {
  @include mat.chips-color($black-app-theme, $color-variant: tertiary);
}