@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();

$black-app-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$green-palette,
  )
));

html {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.toolbar-color($black-app-theme);
  @include mat.button-color($black-app-theme);
  @include mat.icon-button-color($black-app-theme);
  @include mat.fab-color($black-app-theme);
  @include mat.card-color($black-app-theme);
  @include mat.tooltip-color($black-app-theme);
  @include mat.divider-color($black-app-theme);
  @include mat.chips-color($black-app-theme);
  @include mat.dialog-color($black-app-theme);
  @include mat.form-field-color($black-app-theme);
  @include mat.input-color($black-app-theme);
  @include mat.snack-bar-color($black-app-theme);
  @include mat.list-color($black-app-theme);
  @include mat.menu-color($black-app-theme);
  @include mat.icon-color($black-app-theme);

  .mat-app-background,
  .mat-toolbar { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-mdc-card { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-mdc-menu-panel { background-color: #000000; color: rgb(236, 236, 236) }
  .mat-mdc-dialog-container .mdc-dialog__surface { background-color: #000000; color: rgb(236, 236, 236) }
}